<!DOCTYPE html>
<html>
  <head>
    <title>Node SSE Example</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
	<h1>Node SSE Example</h1>
	<p>Rand Num: <span id="randNum"></span></p>
	<p>Rand UUID: <span id="randUUID"></span></p>
  <script src="/script.js"></script>
  </body>
</html>